.container {
  width: 200px;
  height: 60px;

  padding: 10px;
  cursor: pointer;
  background: #20295f;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container:hover {
  background: #ee6b26;
}

.container2 {
  width: 200px;
  height: 60px;

  padding: 10px;
  cursor: pointer;
  background: #ee6b26;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  width: 25px;
  height: 25px;
}

span {
  color: #fff;
  font-weight: bold;
  align-self: flex-end;
  font-size: 18px;
}
